<div class="uk-margin-medium-bottom">
    <div class="uk-card uk-card-default uk-card-small">
        <article class="uk-article uk-flex uk-flex-column uk-flex-stretch uk-height-1-1">
		{{ partial "window_header.html" (dict
			"title" "Shortcuts"
			"type" "Shortcuts"
			"url" ""
			"primaryIcon" "bookmark"
			"secondaryIcon" "home"
			"secondaryIconText" "Go Home"
			"secondaryIconUrl" .Site.BaseURL
		) }}
            <div class="uk-grid uk-grid-column-small uk-grid-row-large uk-child-width-1-2 uk-card-body">
                {{ partial "big_icon.html" .Site.Home }}
                {{ range where .Site.Sections "Params.desktopIcon" "eq" true }}
                {{ partial "big_icon.html" . }}
                {{ end }}
                {{ range $taxonomy, $terms := .Site.Taxonomies }}
                {{ with $taxonomy | printf "/%s" | $.Site.GetPage }}
                {{ partial "big_icon.html" . }}
                {{ end }}
                {{ end }}
                {{ range where .Site.RegularPages "Type" "pages" }}
                {{ partial "big_icon.html" . }}
                {{ end }}
                {{ with .Site.Params.Email }}
                {{ partial "big_icon_contact" . }}
                {{ end }}
            </div>
        </article>
    </div>
</div>