// Do like this
$mako-primary: {{ .Site.Params.Theme.Primary | default "#0fc" }};
$mako-background: {{ .Site.Params.Theme.Background | default "#090909" }};
$mako-secondary: {{ .Site.Params.Theme.Secondary | default "$mako-background" }};

$mako-main: mix($mako-secondary, $mako-primary, $weight: 30%);
$mako-subdued: mix($mako-secondary, $mako-primary, $weight: 50%);
$mako-faint: mix($mako-secondary, $mako-primary, $weight: 80%);

$mako-unknown: #00ff00;

// 1. Custom variables and variable overwrites.
$global-color: $mako-main;
$global-background: $mako-background;
$global-muted-background: $mako-background;
$global-muted-color: $mako-main;
$global-link-color: $mako-primary;
$global-link-hover-color: $mako-subdued;
$global-emphasis-color: $mako-primary;
$global-primary-background: $mako-primary;
$global-border: $mako-primary;

$global-success-background: #cf0;
$global-warning-background: #fc0;
$global-danger-background: #c00;

$global-font-family: '{{ .Site.Params.Theme.Font | default "Jura" }}', sans-serif;

$article-meta-color: $mako-primary;

$base-body-background: linear-gradient(27deg, $mako-primary 0%, $mako-faint 100%);
$base-code-color: $mako-primary;
$base-em-color: unset;
$base-pre-border-radius: 0;
$base-pre-color: $mako-primary;
$base-link-hover-text-decoration: none;

$badge-color: $mako-main;
$badge-background: $mako-faint;

$breadcrumb-item-color: $mako-primary;
$breadcrumb-item-active-color: $mako-primary;
$breadcrumb-item-hover-color: $mako-faint;
$breadcrumb-divider: none;

$button-text-transform: none;

$button-default-background: $mako-faint;
$button-default-color: $mako-primary;
$button-default-hover-background: $mako-primary;
$button-default-hover-color: $mako-faint;

$card-default-box-shadow: 0 0 0 1px $mako-background;
$card-default-background: $mako-background;
$card-default-color: $mako-main;

$card-small-header-padding-vertical: 1px;
$card-small-header-padding-horizontal: 1px;

$card-small-footer-padding-vertical: 0;
$card-small-footer-padding-horizontal: 0;

$comment-meta-color: $mako-primary;

$container-padding-horizontal: 5px;

$icon-button-border-radius: 0;
$icon-button-color: $mako-primary;

$icon-link-color: $mako-primary !important;

$link-text-hover-color: $mako-subdued;

$nav-default-item-color: $mako-primary;
$nav-default-item-hover-color: $mako-subdued;
$nav-default-item-active-color: $mako-primary;

$offcanvas-bar-color-mode: dark !default;

$subnav-item-color: $mako-primary;
$subnav-item-hover-color: $mako-subdued;
$subnav-item-active-color: $mako-primary;
$subnav-item-text-transform: capitalize;

$tooltip-background: $mako-primary;
$tooltip-color: $mako-faint;

// 2. Import default variables and available mixins.
@import "uikit/variables-theme.scss";
@import "uikit/mixins-theme.scss";

// 3. Custom mixin overwrites.
@mixin border-1() {
    border-style: solid;
    border-width: 1px;
}

@mixin object-border() {
    @include border-1();
    border-color: $mako-primary;
    box-shadow: 0 0 0 1px $mako-background;
}

@mixin hook-base-body() {
    overflow-x: hidden;
    
    a, button {
        transition: 0.15s;
    }
}

@mixin hook-base-blockquote() {
    border-left: 3px solid $mako-main;
    padding-left: 5px;
    font-style: unset;
}

@mixin hook-base-code() {
    background-color: $mako-faint;
    font-weight: normal;
    padding: 2px 6px;
}

@mixin hook-badge() {
    @include border-1();
    border-color: $mako-main;
}

@mixin hook-button-default() {
    @include border-1();
    border-color: $mako-primary;
}

@mixin hook-button-default-hover() {
    border-color: $mako-faint;
}

@mixin hook-card() {
    @include object-border();
}

@mixin hook-card-default-header() {
    border-bottom: 1px solid $mako-primary; 
    background-color: $mako-subdued;
    color: $mako-primary;

    a:hover {
        color: $mako-faint !important;
    }

    .mako-title {
        > * {
            border: 1px solid $mako-primary;
        }

        .uk-icon {
            padding: 4px;
        }

        .mako-title-text {
            margin: 0 1px;
            background-color: $mako-faint;
            color: $mako-primary !important;
        }
        
        a.mako-title-text:hover {
            color: $mako-subdued !important;
        }
    }
}

@mixin hook-card-body() {
    .mako-summary-image {
        max-width: 300px;

        @media (min-width: $breakpoint-medium) {
            margin-right: 20px !important;
            margin-bottom: 0 !important;
        }
    }
}

@mixin hook-card-default-footer() {
    border-top: 1px solid $mako-primary;
    background-color: $mako-subdued;
    color: $mako-primary;

    a:hover {
        color: $mako-faint !important;
    }
}

@mixin hook-icon-button() {
    @include border-1();
    border-color: $mako-primary;
}

@mixin hook-navbar-container() {
    @include object-border();
    border-top-style: none;

    > :first-child {
        {{ with .Site.Params.Theme.TitleBackgroundImage }}
        background-image: url('../{{ . }}') !important;
        background-size: cover !important;
        background-position-y: bottom !important;
        {{ end }}
        border-bottom: 1px solid $mako-primary;
    }

    .mako-header-navigation {
        background-color: $mako-subdued;
        padding: 1px;
    }
}

@mixin hook-tooltip() {
    @include border-1();
    border-color: $mako-faint;
}

// 4. Import UIkit.
@import "uikit/uikit-theme.scss";

// 5. Custom styles
.mako-image {
    @include object-border();

    img {
        @include border-1();
        border-color: $mako-faint;
    }
}

.mako-margin-1 {
    margin: 1px;
}
