// Do like this
$mako-primary: {{ .Site.Params.Theme.Primary | default "#0fc" }};
$mako-background: {{ .Site.Params.Theme.Background | default "#090909" }};
$mako-secondary: {{ .Site.Params.Theme.Secondary | default "$mako-background" }};

$mako-main: mix($mako-secondary, $mako-primary, $weight: 30%);
$mako-subdued: mix($mako-secondary, $mako-primary, $weight: 50%);
$mako-faint: mix($mako-secondary, $mako-primary, $weight: 80%);

$mako-unknown: #00ff00;

// 1. Custom variables and variable overwrites.
$global-color: $mako-main;
$global-inverse-color: $mako-background;
$global-background: $mako-background;
$global-muted-background: $mako-background;
$global-muted-color: $mako-main;
$global-link-color: $mako-primary;
$global-emphasis-color: $mako-primary;
$global-primary-background: $mako-primary;
$global-border: $mako-primary;

$global-success-background: #cf0;
$global-warning-background: #fc0;
$global-danger-background: #c00;

$tooltip-background: $mako-primary;
$tooltip-color: $mako-faint;

// 2. Import default variables and available mixins.
@import "uikit/variables-theme.scss";
@import "uikit/mixins-theme.scss";

// 3. Custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/uikit-theme.scss";

body {
    background-image: url('../images/{{ .Site.Params.Theme.BackgroundImage | default "greyframe.gif" }}');
    font-family: '{{ .Site.Params.Theme.Font | default "Jura" }}', sans-serif;
    font-weight: 600;
}

a {
    &:hover {
        transition: 0.15s;
        color: $mako-subdued !important;
    }
}

.uk-icon, :first-child .uk-icon {
    color: $mako-primary;
    flex-shrink: 0 !important;
}

.uk-container {
    @media (max-width: $breakpoint-medium) {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.uk-card-body {
    @media (max-width: $breakpoint-medium) {
        flex-direction: column;
    }
}

.uk-navbar-container, .image, div.uk-card {
    border: 1px solid $mako-primary;
    box-shadow: 0 0 0 1px $mako-background;
}

.image img {
    border: 1px solid $mako-faint;
}

.uk-badge {
    border: solid 1px $mako-main;
    color: $mako-main !important;
    background-color: $mako-faint;
}

.uk-button {
    border-width: 1px;
    background-color: $mako-subdued;

    &.uk-button-default {
        background-color: $mako-faint;

        &:hover {
            background-color: $mako-primary;
            color: $mako-faint !important;
            border-color: $mako-faint;
        }
    }
}

.uk-navbar-container {
    border-top: none;

    {{ with .Site.Params.Theme.TitleBackgroundImage }}
    background-image: url('../images/{{ . }}') !important;
    background-size: cover !important;
    background-position-y: bottom !important;
    {{ end }}

    &:not(.uk-navbar-transparent), .uk-logo
    {
        background-color: $mako-faint;
        color: $mako-primary;
        font-family: inherit;
    }
}

.uk-tooltip {
    border: 1px solid $mako-faint;
}

ul.uk-nav li.tags {
    padding-left: 40px;

    a {
        display: inline;
        padding: 5px;
        margin-right: 10px;
    }
}

div.uk-card {
    background-color: $global-muted-background;

    .uk-card-header, .uk-card-footer {
        margin: 0;
        color: $mako-primary;
    }
    
    .uk-card-header {
        padding: 1px;
        border-bottom: 1px solid $mako-primary;    
        background-color: $mako-subdued;

        a:hover {
            transition: 0.15s;
            color: $mako-faint !important;
        }
        
        .title {
                > * {
                    border: 1px solid $mako-primary;
                }
            
            .title-icon {
                flex-shrink: 1;
                padding: 2px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                min-width: 24px;

                > svg {
                    margin: 0;
                }
            }

            .title-text {
                flex-grow: 1;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                background-color: $mako-faint;
                color: $mako-primary !important;
                font-weight: 800;
                margin: 0 1px;
                padding: 2px 10px;
            }
        }
    }

    .uk-card-body {
        .summary-image {
            max-width: 300px;

            @media (max-width: $breakpoint-medium) {
                margin-right: 0 !important;
                margin-bottom: 20px;
            }
        }
    }

    .uk-card-footer {
        border-top: 1px solid $mako-primary;
        background-color: $mako-subdued;
        padding: 0;

        a:hover {
            transition: 0.15s;
            color: $mako-faint !important;
        }

        .uk-article-meta {
            color: inherit;

            @media (max-width: $breakpoint-medium) {
                flex-direction: column;
            }

            a {
                color: inherit;
            }

            ul, div, p {
                margin: 2px 0;

                span {
                    color: inherit;
                    text-transform: capitalize;
                    flex-shrink: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                
                &.uk-comment-meta {
                    color: inherit; 
                    a {
                        color: inherit;
                    }
                }
            }

            ul {
                flex-shrink: 1;
                margin: 2px 15px;

                li {
                    flex: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            p {
                width: 100%;

                &.tags {
                    margin: 2px 35px;

                    a {
                        white-space: nowrap;
                    }
                }
            }

            div.window-footer-buttons {
                flex-grow: 1;
                margin: 1px;
                justify-content: end;

                a {
                    text-transform: capitalize;
                }
            }

            .uk-subnav > * {
                flex: inherit;
            }
        }
    }
}