<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us" }}" class="uk-background-fixed">

<head>
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Site.Title }} | {{ .Title }}{{ end }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{ .Site.Params.author }}" />
    <meta name="description"
        content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    <link href='https://fonts.googleapis.com/css2?family={{ .Site.Params.Theme.Font | default "Jura" }}&display=swap'
        rel="stylesheet">
    {{- range .AlternativeOutputFormats -}}
    {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{- $sassTemplate := resources.Get "scss/mako.scss" -}}
    {{- $sassAsTemplate := resources.ExecuteAsTemplate "scss/mako.scss" . $sassTemplate -}}
    {{- $toCssOptions := dict "targetPath" "mako.css" "transpiler" "dartsass" "silenceDependencyDeprecations" true -}}
    {{- $style := $sassAsTemplate | css.Sass $toCssOptions | resources.Minify | resources.Fingerprint -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" crossorigin="anonymous" integrity="{{ $style.Data.Integrity }}" type="text/css" />
    {{ if .Site.Params.google_analytics | default false }}
    {{ template "_internal/google_analytics.html" . -}}
    {{ end }}
    {{ if .Site.Params.twitter_cards | default false}}
    {{- template "_internal/twitter_cards.html" . -}}
    {{ end }}
    {{ if .Site.Params.opengraph | default true }}
    {{- template "_internal/opengraph.html" . -}}
    {{ end }}
    <meta name="application-name" content="{{ site.Title }}"/>
    <meta name="msapplication-TileColor" content="{{ .Site.Params.FaviconMsTileColor }}" />
    {{/*  {{- partialCached "msFavicon.html" (dict "image" "img/og.png" "size" "310x150" "name" "msapplication-wide310x150logo") "310x150" }}  */}}
    {{ with .Site.Params.Favicon }}
        {{- partialCached "appleTouchIcon.html" (dict "image" . "size" "57x57") "57x57" }}
        {{- partialCached "appleTouchIcon.html" (dict "image" . "size" "114x114") "114x114" }}
        {{- partialCached "appleTouchIcon.html" (dict "image" . "size" "72x72") "72x72" }}
        {{- partialCached "appleTouchIcon.html" (dict "image" . "size" "144x144") "144x144" }}
        {{- partialCached "appleTouchIcon.html" (dict "image" . "size" "60x60") "60x60" }}
        {{- partialCached "appleTouchIcon.html" (dict "image" . "size" "120x120") "120x120" }}
        {{- partialCached "appleTouchIcon.html" (dict "image" . "size" "76x76") "76x76" }}
        {{- partialCached "appleTouchIcon.html" (dict "image" . "size" "152x152") "152x152" }}
        {{- partialCached "favicon.html" (dict "image" . "size" "196x196") "196x196" }}
        {{- partialCached "favicon.html" (dict "image" . "size" "96x96") "96x96" }}
        {{- partialCached "favicon.html" (dict "image" . "size" "32x32") "32x32" }}
        {{- partialCached "favicon.html" (dict "image" . "size" "16x16") "16x16" }}
        {{- partialCached "favicon.html" (dict "image" . "size" "128x128") "128x128" }}
        {{- partialCached "msFavicon.html" (dict "image" . "size" "144x144" "name" "msapplication-TileImage") "144x144" }}
        {{- partialCached "msFavicon.html" (dict "image" . "size" "70x70" "name" "msapplication-square70x70logo") "70x70" }}
        {{- partialCached "msFavicon.html" (dict "image" . "size" "150x150" "name" "msapplication-square150x150logo") "150x150" }}
        {{- partialCached "msFavicon.html" (dict "image" . "size" "310x310" "name" "msapplication-square310x310logo") "310x310" }}
    {{ end }}
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.12/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.12/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    {{ partial "site_menu.html" . }}
    <div class="uk-container">
        {{ partial "site_header.html" . }}

        {{ $contentFlow := "uk-flex-row" }}

        {{ if eq (.Site.Params.sidebar | lower) "left" }}
        {{ $contentFlow = "uk-flex-row-reverse" }}
        {{ end }}

        <div uk-grid class="{{ $contentFlow }}">
            <div class="uk-width-expand@m main">
                {{ block "main" . }}
                {{ .Content }}
                {{ end }}
            </div>
            <div class="uk-width-1-4@m uk-visible@m uk-flex uk-flex-column">
                {{ partial "sidebar.html" . }}
            </div>
        </div>

        {{ partialCached "site_footer.html" . }}
    </div>
</body>

</html>