<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us" }}" class="uk-background-fixed">

<head>
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Site.Title }} :: {{ .Title }}{{ end }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{ .Site.Params.author }}" />
    <meta name="description"
        content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    <link href='https://fonts.googleapis.com/css2?family={{ .Site.Params.Theme.Font | default "Jura" }}&display=swap'
        rel="stylesheet">
    {{- range .AlternativeOutputFormats -}}
    {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{- $sassTemplate := resources.Get "scss/mako.scss" -}}
    {{- $sassAsTemplate := resources.ExecuteAsTemplate "scss/mako.scss" . $sassTemplate -}}
    {{- $style := $sassAsTemplate | resources.ToCSS | resources.Minify -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" crossorigin="anonymous" type="text/css" />
    {{ if .Site.Params.google_analytics | default false }}
    {{ template "_internal/google_analytics.html" . -}}
    {{ end }}
    {{ if .Site.Params.twitter_cards | default false}}
    {{- template "_internal/twitter_cards.html" . -}}
    {{ end }}
    {{ if .Site.Params.opengraph | default true }}
    {{- template "_internal/opengraph.html" . -}}
    {{ end }}
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.12/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.12/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    {{ partial "site_menu.html" . }}
    <div class="uk-container">
        {{ partial "site_header.html" . }}

        {{ $contentFlow := "uk-flex-row" }}

        {{ if eq (.Site.Params.sidebar | lower) "left" }}
        {{ $contentFlow = "uk-flex-row-reverse" }}
        {{ end }}

        <div uk-grid class="{{ $contentFlow }}">
            <div class="uk-width-expand@m main">
                {{ block "main" . }}
                {{ .Content }}
                {{ end }}
            </div>
            <div class="uk-width-1-4@m uk-visible@m uk-flex uk-flex-column">
                {{ partial "sidebar.html" . }}
            </div>
        </div>

        {{ partialCached "site_footer.html" . }}
    </div>
</body>

</html>