{{ define "main" }}


{{ if .IsSection }}
{{ if .Content }}
<div class="uk-card uk-card-default uk-card-small uk-margin-medium-bottom">
    <article class="uk-article">
        {{ partial "window_header.html" . }}

        <div class="uk-card-body">
            {{ .Content }}
        </div>

        <div class="uk-card-footer uk-flex-column uk-flex-row@l">
            <div class="uk-article-meta uk-text-small uk-flex uk-flex-between uk-flex-column uk-flex-row@m">
                {{ partial "article_footer.html" . }}
                {{ partial "footer_tags.html" . }}
            </div>
        </div>
    </article>
</div>
{{ end }}

<div uk-grid class="uk-grid-match uk-child-width-1-2@l uk-flex-row">
    {{ end }}

    {{ range (.Paginate .Pages).Pages }}
    {{ partial "article_summary.html" . }}
    {{ end }}

    {{ if .IsSection }}
</div>
{{ end }}

{{ partial "paginator.html" .Paginator }}

{{ end }}