{{ define "main" }}
<div class="uk-card uk-card-default uk-card-small uk-margin-medium-bottom">
    <article class="uk-article">
        {{ partial "window_header.html" . }}

        <div class="uk-card-body">
            <ul class="uk-nav">
                {{ range .Data.Terms.ByCount }}
                <li>
                    <a href="{{ .Page.RelPermalink }}">
						<span uk-icon="folder"></span>
                        <span class="uk-text-capitalize">{{ .Name }}</span>
                        <span class="uk-text-right uk-flex-1 uk-margin-small-left uk-margin-remove-bottom">{{ .Count }}</span>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </article>
</div>

{{ end }}