{{ $tagsUrl := "tags" | absURL }}
{{ $categoriesUrl := "categories" | absURL }}
{{ $seriesUrl := "series" | absURL }}

<h1 class="uk-article-title">
	<a class="uk-link-reset" href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
</h1>

<p class="uk-article-meta">
<ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
	<li><span uk-icon="calendar"></span>&nbsp;
		{{ .Date | time.Format (.Site.Params.DateFormat | default "02/Jan/2006 15:04 MST") }}
	</li>
	{{ with .Params.Categories }}
	{{ range . }}
	<li>
		<a href="{{ $categoriesUrl}}/{{ . | urlize }}" class="uk-text-capitalize">
			<span uk-icon="folder"></span>&nbsp;{{ . }}
		</a>
	</li>
	{{ end }}
	{{ end }}
	{{ with .Params.Series }}
	{{ range . }}
	<li>
		<a href="{{ $seriesUrl}}/{{ . | urlize }}" class="uk-text-capitalize">
			<span uk-icon="album"></span>&nbsp;{{ . }}
		</a>
	</li>
	{{ end }}
	{{ end }}
</ul>
<ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
	{{ with .Params.Tags }}
	{{ range . }}
	<li>
		<a href="{{ $tagsUrl }}/{{ . | urlize }}" class="uk-text-lowercase">
			<span uk-icon="tag"></span>&nbsp;{{ . }}
		</a>
	</li>
	{{ end }}
	{{ end }}
</ul>
</p>