{{ $categoriesUrl := "categories" | relURL }}
{{ $seriesUrl := "series" | relURL }}
{{ $formattedDate := .Date | time.Format (.Site.Params.DateFormat | default "02/Jan/2006 15:04 MST") }}

<ul class="uk-comment-meta uk-subnav uk-margin-remove-top">
    <li>
        <span>
            <span uk-icon="calendar"></span>
            <span class="uk-margin-small-left" title="{{ $formattedDate }}" uk-tooltip>
                {{ $formattedDate }}
            </span>
        </span>
    </li>
    {{ with .Params.Categories }}
    {{ range . }}
    <li>
        <span>
            <span uk-icon="folder"></span>
            <a href="{{ $categoriesUrl }}/{{ . | urlize }}"
                class="uk-text-capitalize uk-link-muted uk-margin-small-left">
                {{ . }}
            </a>
        </span>
    </li>
    {{ end }}
    {{ end }}
    {{ with .Params.Series }}
    {{ range . }}
    <li>
        <span>
            <span uk-icon="album"></span>
            <a href="{{ $seriesUrl}}/{{ . | urlize }}" class="uk-text-capitalize uk-margin-small-left">
                {{ . }}
            </a>
        </span>
    </li>
    {{ end }}
    {{ end }}
</ul>