<div class="uk-card uk-card-default uk-card-small uk-margin-medium-bottom">
	<article class="uk-article">
		{{ partial "window_header.html" . }}

		<div class="uk-card-body uk-flex">
			{{ if isset .Params "image" }}
			{{ $pageLink := .RelPermalink }}
			{{ with .Resources.GetMatch .Params.Image }}
			{{ $image := .Resize "300x" }}
			<div class="uk-margin-right image summary-image uk-flex-none">
				<a href="{{ $pageLink }}">
					<img src="{{ $image.RelPermalink }}">
				</a>
			</div>
			{{ end }}
			{{ end }}
			<p class="uk-margin-remove">{{ .Summary }}</p>
		</div>

		<div class="uk-card-footer">
			<div class="uk-article-meta uk-text-small uk-flex">
				{{ partial "article_footer.html" . }}
				{{ partial "summary_footer.html" . }}
			</div>
		</div>
	</article>
</div>