{{ $relPermalink := .Page.RelPermalink }}

{{ range .Site.Params.NavigationTaxonomies}}
{{ with ($.Site.GetPage (printf "/%s" .)) }}
<div class="uk-card uk-card-default uk-card-small uk-margin-medium-bottom">
	<article class="uk-article">
		{{ partial "window_header.html" . }}
		<div class="uk-card-body">
			<ul class="uk-nav uk-nav-default uk-margin-remove-vertical" uk-nav>
				{{ range (index .Site.Taxonomies (lower .Name)).ByCount }}
				<li class='{{ if eq $relPermalink .Page.RelPermalink }}uk-active{{ end }}'>
					<a href="{{ .Page.RelPermalink }}">
						<span uk-icon="copy" class="uk-flex-none"></span>
						<span class="uk-text-capitalize uk-text-truncate">{{ (humanize .Name) }}</span>
						<span class="uk-text-right uk-flex-1 uk-margin-small-left uk-margin-remove-bottom">{{ .Count }}</span>
					</a>
				</li>
				{{ end }}
			</ul>
		</div>
	</article>
</div>
{{ end }}
{{ end }}