{{ $relPermalink := .Page.RelPermalink }}

{{ range where $.Site.Sections "Name" "in" .Site.Params.Sections }}
<div class="uk-card uk-card-default uk-card-small uk-margin-medium-bottom">
	<article class="uk-article">
		{{ partial "window_header.html" . }}
		<div class="uk-card-body">
			<ul class="uk-nav uk-nav-default uk-margin-remove-vertical" uk-nav>
				{{ range .Pages.ByParam "order" }}
				<li class='{{ if eq $relPermalink .Page.RelPermalink }}uk-active{{ end }}'>
					<a href="{{ .Page.RelPermalink }}">
						<span uk-icon="file-text" class="uk-flex-none"></span>
						<span class="uk-text-truncate">{{ .Page.Title }}</span>
					</a>
				</li>
				{{ end }}
			</ul>
		</div>
	</article>
</div>
{{ end }}