{{ $relPermalink := path.Join .Page.RelPermalink }}

{{ with (.Site.GetPage "/tags") }}
<div class="uk-card uk-card-default uk-card-small uk-margin-medium-bottom">
	<article class="uk-article">
		{{ partial "window_header.html" . }}
		<div class="uk-card-body">
			<ul class="uk-nav uk-nav-default uk-margin-remove-vertical" uk-nav>
				{{ range first 20 .Site.Taxonomies.tags.ByCount }}
				<li>
					<a href="{{ .Page.RelPermalink }}">
						<span uk-icon="tag"></span>
						<span class="uk-text-capitalize">{{ .Name }}</span>
						<span class="uk-text-right uk-flex-1 uk-margin-small-left uk-margin-remove-bottom">{{ .Count }}</span>
					</a>
				</li>
				{{ end }}
			</ul>
		</div>
	</article>
</div>
{{ end }}