{{ $relPermalink := path.Join .Page.RelPermalink }}

{{ with (.Site.GetPage "/tags") }}
<div class="uk-card uk-card-default uk-card-small uk-margin-medium-bottom">
	<article class="uk-article">
		{{ partial "window_header.html" . }}
		<div class="uk-card-body">
			<ul class="uk-nav uk-nav-default uk-margin-remove-vertical" uk-nav>
				<li class="tags uk-padding uk-padding-remove-vertical">
					{{ range .Site.Taxonomies.tags.ByCount }}
					<a href="{{ .Page.RelPermalink }}" class="uk-link-muted uk-text-nowrap uk-margin-small-right">
						<span>{{ .Name }}</span>
						<span class="uk-badge">{{ .Count }}</span>
					</a>
					{{ end }}
				</li>
			</ul>
		</div>
	</article>
</div>
{{ end }}