<div id="menu" uk-offcanvas>
    <div class="uk-offcanvas-bar">
        <div class="uk-card uk-card-default uk-card-small uk-margin-medium-bottom">
            <article class="uk-article">
                <div class="uk-card-header">
                    <p class="title uk-flex">
                        <span class="title-icon" uk-icon="more" title="Navigation" uk-tooltip></span>
                        <span class="title-text" title="Navigation" uk-tooltip>Navigation</span>
                        <a class="title-icon" href="" uk-totop uk-scroll title="Go to top" uk-tooltip></a>
                    </p>
                </div>
                <div class="uk-card-body uk-flex uk-flex-row uk-flex-right">
                    <a href="{{ .Site.Home.RelPermalink }}" uk-icon="home"
                        class="uk-icon-button uk-button-default uk-margin-small-left"></a>
                    <a href="#menu" uk-toggle uk-icon="chevron-double-left"
                        class="uk-icon-button uk-button-default uk-margin-small-left"></a>
                </div>
                <div class="uk-card-body uk-padding-remove-top">
                    <ul class="uk-list uk-list-collapse uk-margin-remove-vertical">
                        {{ partial "breadcrumb.html" (dict "p1" . "p2" .) }}
                    </ul>
                </div>
            </article>
        </div>
        {{ partial "sidebar.html" .}}
    </div>
</div>