{{ $relPermalink := path.Join .Page.RelPermalink }}
{{ $title := .Site.Params.Author | default "My Blog" }}

<div class="uk-card uk-card-default uk-card-small uk-margin-medium-bottom uk-flex-first@m">
  <article class="uk-article">
    <div class="uk-card-header">
      <p class="title uk-flex">
        <span class="title-icon" uk-icon='{{ partial "get_icon.html" .Page }}'
          title='{{ partial "get_type.html" .Page }}' uk-tooltip></span>
        <span class="uk-link-reset title-text" title="{{ $title }}" uk-tooltip>{{ $title }}
        </span>
        <a class="title-icon" uk-icon="link" href="{{ .Site.BaseURL }}" title="Go home" uk-tooltip></a>
      </p>
    </div>
    <div class="uk-card-body">
      {{ with .Site.Params.ProfilePicture }}
      <div class="image uk-margin-bottom">
        <img src="{{ . | relURL }}">
      </div>
      {{ end }}
      {{ with .Site.Params.Pronouns }}
      <ul class="uk-list uk-margin-remove-vertical nav-nolink">
        <li class="uk-text-small">
          <span>
            <span uk-icon="quote-right"></span>
            <span>{{ . }}</span>
          </span>
        </li>
      </ul>
      {{ end }}
      {{ with .Site.Params.Location }}
      <ul class="uk-list uk-margin-remove-vertical nav-nolink">
        <li class="uk-text-small">
          <span>
            <span uk-icon="location"></span>
            <span>{{ . }}</span>
          </span>
        </li>
      </ul>
      {{ end }}
      {{ with where (.Site.RegularPages.ByParam "order") "Section" "pages" }}
      <ul class="uk-nav uk-nav-default" uk-nav>
        {{ range . }}
        <li class='{{ if eq $relPermalink (path.Join "/pages" (urlize .Page.Title)) }}uk-active{{ end }}'>
          <a href="{{ .Page.RelPermalink }}">
            <span uk-icon="file-text"></span>
            <span>{{ .Page.Title }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
    <div class="uk-card-footer">
      <div class="uk-article-meta uk-text-small">
        <p class="uk-comment-meta uk-subnav uk-margin-remove-top uk-padding-small uk-padding-remove-vertical">
          {{ partial "get_tagline.html" .Site.Params }}
        </p>
      </div>
    </div>
  </article>
</div>