{{ define "main" }}
<div class="uk-card uk-card-default uk-card-small uk-margin-medium-bottom">
	<article class="uk-article">
		{{ partial "window_header.html" (dict
			"title" "Error 404: Page Not Found"
			"type" "Error 404"
			"url" .Site.BaseURL
			"primaryIcon" "ban"
			"secondaryIcon" "home"
			"secondaryIconText" "Go Home"
			"secondaryIconUrl" .Site.BaseURL
		) }}
		<div class="uk-card-body">
			<p>
				<span uk-icon="icon: bolt; ratio: 2">
				<span uk-icon="icon: bolt; ratio: 2">
				<span uk-icon="icon: bolt; ratio: 2">
			</p>
			<p>There's nothing here.</p>
		</div>
		<div class="uk-card-footer uk-flex-column uk-flex-row@l">
			<div class="uk-article-meta uk-text-small uk-flex uk-flex-between uk-flex-wrap uk-flex-column uk-flex-row@m">
				<div class="mako-margin-1 uk-flex uk-flex-auto uk-flex-right">
					<a href="{{ .Site.Home.RelPermalink }}" class="uk-button uk-button-default uk-button-small" title="Go home" uk-tooltip>
						Go home &raquo;
					</a>
				</div>
			</div>
		</div>
	</article>
</div>
{{ end }}